.ipynb_checkpoints/
__pycache__/
_gvxrPython3.so
gvxrPython3.py
outcmaes/
outputs/

validation/run_SCW_*/
validation/runtime_*

Tutorial2/sino.*
*.*~
.~lock.*.csv#
registration-matrix-then-fibres-PC/run_home_*/
registration-matrix-then-fibres-PC/*~

registration-matrix-then-fibres-SCW/run_SCW_*/
registration-matrix-then-fibres-SCW/*~
registration-matrix-then-fibres-SCW/runtime_*

registration-matrix-and-fibres-SCW/run_SCW_*/
registration-matrix-and-fibres-SCW/*~
registration-matrix-and-fibres-SCW/runtime_*

