register-*-*.out
register-*-*.err

.ipynb_checkpoints/
__pycache__/
_gvxrPython3.so
gvxrPython3.py
outcmaes/
outputs/

validation/run_SCW_*/
validation/runtime_*

Tutorial2/sino.*
*.*~
.~lock.*.csv#
registration-matrix-then-fibres-PC/run_home_*/
registration-matrix-then-fibres-PC/*~

registration-matrix-then-fibres-SCW/run_SCW_*/
registration-matrix-then-fibres-SCW/*~
registration-matrix-then-fibres-SCW/runtime_*

registration-matrix-and-fibres-SCW/run_SCW_*/
registration-matrix-and-fibres-SCW/*~
registration-matrix-and-fibres-SCW/runtime_*

registration-matrix-then-fibres2-SCW/run_SCW_*/
registration-matrix-then-fibres2-SCW/*~
registration-matrix-then-fibres2-SCW/runtime_*

validation-high-tol/


results/CUBE1_RUNTIME_in_min.pdf
results/FIBRE1_ZNCC.csv
results/FIBRE1_ZNCC.pdf
results/FIBRE2_ZNCC.csv
results/FIBRE2_ZNCC.pdf
results/FIBRE3_ZNCC.csv
results/FIBRE3_ZNCC.pdf
results/FIBRES1_RUNTIME_in_min.pdf
results/FIBRES3_RUNTIME_in_min.pdf
results/FULL_REGISTRATION_PROJS_PARTIAL_NORMALISED_DSSIM/
results/FULL_REGISTRATION_PROJS_PARTIAL_NORMALISED_MAE/
results/FULL_REGISTRATION_PROJS_PARTIAL_NORMALISED_RMSE/
results/FULL_REGISTRATION_PROJS_PARTIAL_NORMALISED_ZNCC/
results/FULL_REGISTRATION_PROJS_PARTIAL_NOT_NORMALISED_DSSIM/
results/FULL_REGISTRATION_PROJS_PARTIAL_NOT_NORMALISED_MAE/
results/FULL_REGISTRATION_PROJS_PARTIAL_NOT_NORMALISED_RMSE/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NORMALISED_DSSIM/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NORMALISED_MAE/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NORMALISED_RMSE/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NORMALISED_ZNCC/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NOT_NORMALISED_DSSIM/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NOT_NORMALISED_MAE/
results/FULL_REGISTRATION_SINOGRAM_PARTIAL_NOT_NORMALISED_RMSE/
results/HARMONICS_RUNTIME_in_min.pdf
results/HARMONICS_ZNCC.csv
results/HARMONICS_ZNCC.pdf
results/LAPLACIAN1_RUNTIME_in_min.pdf
results/LAPLACIAN1_ZNCC.csv
results/LAPLACIAN1_ZNCC.pdf
results/LAPLACIAN_LSF_RUNTIME_in_min.pdf
results/LAPLACIAN_LSF_ZNCC.csv
results/LAPLACIAN_LSF_ZNCC.pdf
results/MATRIX_ZNCC.csv
results/MATRIX_ZNCC.pdf
results/NOISE_RUNTIME_in_min.pdf
results/NOISE_ZNCC.csv
results/NOISE_ZNCC.pdf
results/profiles.pdf
results/scatter_plot.pdf
results/summary-bis.csv
results/summary.csv

tutorial/SheppLogan-2d.txt
tutorial/fbp_scipy_recons.mha
tutorial/fdk.mha
tutorial/fdk_rtk_recons.mha
tutorial/fdk_tigre_recons.mha
tutorial/geometry
tutorial/geometry.xml
tutorial/gridrec_tomopy_recons.mha
tutorial/itk_projections.mha
tutorial/projections_3d.mha
tutorial/pyramid.ipynb
tutorial/pyramid_outputs/
tutorial/pyramid_plots/
tutorial/recons.mha
tutorial/ref.mha
tutorial/rei.mha

